.page[book] {
    width:1100px;
    margin: 0 auto;
    a {
        color: #666;
        font-size:32px;
        font-weight:bold;
        transition: 0.5s ease;
        &:hover {
            color: #38b7ea;
        }
    }

    .left {
       
        >ul {
            padding: 0;
            >li {
                float:left;
                list-style: none;
                padding:10px;
                .book_img{
                    width:180px;
                    float:left;
                    img{
                        display:block;
                        width:150px;
                        height:230px;
                        border-radius:5px;
                    }
                }
                .description{
                    color:black;
                    width:830px;
                    height:230px;
                    border-radius:5px;
                    padding:2px;
                    float:left;
                    border:3px solid #eee;
                    >hr{
                        border: 0;
                        border:0.5px solid #eee;
                        margin: 1px 0;
                    }
                    >p{
                        color:black;
                        margin:0;
                        padding:0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
    .page[book] {
        width:100%;
        .left {
            >ul {
                padding: 0px;
                >li {
                    margin:5px;
                    list-style: none;
                    .book_img{
                        width:100%;
                        img{
                            width:150px;
                            height:225px;
                            border-radius:5px;
                        }
                    }
                    .description{
                        width:100%;
                        color:black;
                        height:auto;
                        border-radius:5px;
                        padding:2px;
                        margin-top:10px;
                        border:3px solid #eee;
                        >hr{
                            border: 0;
                            border:0.5px solid #eee;
                            margin: 1px 0;
                        }
                        >p{
                            color:black;
                            margin:0;
                            padding:0;
                        }
                    }
                }
            }
        }
    }
}
